*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{

    display: flex;
    padding: 10px;
    width: 100%;
}
.nav
{   padding: 10px 30px; 
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 100;



}
.icons{
    justify-content: space-between;
    align-items: center;
    display: flex;
    list-style: none;
    gap: 20px;
    margin-right: 23px;
}

.center_nav{
    display: flex;
    gap: 30px;
    align-items: center;
}
.center_nav .search{
    display: flex;
    gap: 30px;
}
.search input{
    font-size: 20px;
    align-items: center;
    min-width: 600px;
    padding:12px 30px;
    border-radius: 30px;
    box-shadow: 10px,10px,10px, rgba(1,1,1, 1);
}

.search button{
    margin-bottom: 5px;
    margin-left: -80px;
    border: none;
    background: none;
    border: none;
    outline: none;
    padding: 0;
    cursor: pointer;
    align-items: center;

}
.search img{
    margin-top: 10px;
    border: none;
    width: 35px;
    border-radius: 40px;
    align-items: center;
}
.mic{
    display: grid;
    place-items: center;
    background-color: rgb(236, 238, 238);
    border-radius: 20px;
}
.mic img{
    width: 35px;
}


/* tags section  */

.tags{
    display: flex;
    align-items: flex-start;
    gap:30px;
    margin-left: 30px;
    font-size: 15px;
    margin-top: 30px;
}
.tag {
    background-color: black;
    color: aliceblue;
    border-radius: 20px;
    padding: 10px 20px;
    width: 0 auto;
    align-items: center;
}

.left{
    display: flex;
    flex-direction: column;
    gap:20px;
    margin-left: 10px;
    margin-top: 10px;
    align-items: center;
}


.main-container { 
    min-width: 100%;

}

.TB {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px 10px ;
    margin-top: 30px;
    margin-left: 20px;
    min-height: 100vh;
    
}
.content{
    min-height: 100vh;
}
.Line1 {
    display: flex;
    gap: 20px;
    padding: 10px 10px ;
    margin-top: 30px;
    margin-left: 20px;
}

.Line2 {
    display: flex;
    gap: 20px;
    padding: 10px 10px ;
    margin-top: 30px;
    margin-left: 20px;
}
.Line3 {
    display: flex;
    gap: 20px;
    padding: 10px 10px ;
    margin-top: 30px;
    margin-left: 20px;
}
.Line4 {
    display: flex;
    gap: 20px;
    padding: 10px 10px ;
    margin-top: 30px;
    margin-left: 20px;
}