
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header{
    background-color: #E5E5FD;
    min-height: 100vh;
    border:15px solid #1D1E4C;
}

.content{
    max-width: 1000px;
    margin: 0 auto;
}
.top_section{
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.img_container,img { 
    height: 360px;
    width: 300px;
    overflow: hidden;

}

.top_section h1{
    font-size: 48px;
    text-transform: uppercase;
}
.top_section h2{
    text-align: end;
}

.about{
    margin-top: 100px;
    
}
.about h2{
    letter-spacing:5px;
    font-size: 72px;
    font-weight: bold;


}
.about,p{
    letter-spacing: 1.5px;
    margin-top: 20px;
    text-align: justify;
    font-size: 21px;

}
.last {
margin-top: 40px;

}
.last h2{
    font-size: 40px;
}
.last ul{
    line-height: 30px;
    letter-spacing: 1.5px;
    font-size: 21px;
    margin-left: 35px;
    margin-top: 20px;
    text-align: justify;
}

.link p{
font-size: medium;
text-align: end;
margin-top: 100px;
margin-bottom: 40px;
}